.iconfont{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:iconfont!important;font-size:16px;font-style:normal}
.icon-arrow_icon:before{content:"\e68f"}
.icon-plus_large_icon:before{content:"\e697"}
.icon-magnifier_icon:before{content:"\e69f"}
.icon-clear_merge_icon:before{content:"\e6a2"}
.body-root{font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;font-weight:500}
.system-ui .body-root,.system-ui .font-ali-55,.system-ui .font-ali-65,.system-ui .font-ali-75{font-family:system-ui}
.text-dot{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.absolute-center{left:50%;position:absolute;transform:translateX(-50%)}
.glass-card{-webkit-backdrop-filter:blur(40px);backdrop-filter:blur(40px);border:1px solid;border-radius:12px;box-shadow:0 2px 12px 0 #00000026}
.icon-home-small{--icon-size:60px;--icon-home-radius:16px}
.fixed{position:fixed}
.absolute{position:absolute}
.relative{position:relative}
.top-0{top:0}
.bottom-0{bottom:0}
.left-0{left:0}
.right-0{right:0}
.flex{display:flex}
.grid{display:grid}
.h-full{height:100%}
.w-full{width:100%}
.flex-shrink-0{flex-shrink:0}
.flex-grow{flex-grow:1}
.grow{flex-grow:1}
.cursor-pointer{cursor:pointer}
.select-none{-webkit-user-select:none;user-select:none}
.flex-col{flex-direction:column}
.items-center{align-items:center}
.justify-center{justify-content:center}
.justify-between{justify-content:space-between}
.overflow-auto{overflow:auto}
.overflow-hidden{overflow:hidden}
.overflow-ellipsis,.text-ellipsis,.truncate{text-overflow:ellipsis}
.whitespace-nowrap{white-space:nowrap}
.border-solid{border-style:solid}
.border-color-white{--tw-border-opacity:1;border-color:rgb(var(--color-white)/var(--tw-border-opacity))}
.border-opacity-40{--tw-border-opacity:0.4}
.border-opacity-10{--tw-border-opacity:0.1}
.bg-color-m1{--tw-bg-opacity:1;background-color:rgb(var(--color-m1)/var(--tw-bg-opacity))}
.bg-color-white{--tw-bg-opacity:1;background-color:rgb(var(--color-white)/var(--tw-bg-opacity))}
.bg-opacity-60{--tw-bg-opacity:0.6}
.bg-opacity-80{--tw-bg-opacity:0.8}
.bg-cover{background-size:cover}
.object-cover{object-fit:cover}
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}
.text-color-t3{--tw-text-opacity:1;color:rgb(var(--color-t3)/var(--tw-text-opacity))}
.text-color-t2{--tw-text-opacity:1;color:rgb(var(--color-t2)/var(--tw-text-opacity))}
.text-color-blue{--tw-text-opacity:1;color:rgb(var(--color-blue)/var(--tw-text-opacity))}
.text-color-t1{--tw-text-opacity:1;color:rgb(var(--color-t1)/var(--tw-text-opacity))}
.transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}
.duration-150{transition-duration:.15s}
.duration-300{transition-duration:.3s}
.duration-100{transition-duration:.1s}
.focus-within\:bg-opacity-80:focus-within{--tw-bg-opacity:0.8}
.focus-within\:opacity-100:focus-within{opacity:1}
.hover\:bg-color-m2:hover{--tw-bg-opacity:1;background-color:rgb(var(--color-m2)/var(--tw-bg-opacity))}
.hover\:bg-color-white:hover{--tw-bg-opacity:1;background-color:rgb(var(--color-white)/var(--tw-bg-opacity))}
.hover\:bg-opacity-100:hover{--tw-bg-opacity:1}
.hover\:bg-opacity-80:hover{--tw-bg-opacity:0.8}
.dark .dark\:border-opacity-10{--tw-border-opacity:0.1}
.dark .dark\:bg-opacity-70{--tw-bg-opacity:0.7}
.iconfont{line-height:1}
.iconfont,button{display:block}
